## Cohen Kappa Calculation


<h2>Task: </h2>
<p>This notebook details the manual implementation of Cohenâ€™s k as described in Part 2 of http://courses.ischool.berkeley.edu/i290-dds/s17/hw/hw1.pdf </p>

In [218]:
#Importatios
import pandas as pd
import numpy as np

#import the data
datafile = 'hw1.part1.1.txt'
data = pd.read_csv(datafile,delimiter='\t',header=None) 
data.head()

        0            1        2
0  item:0  annotator:0  label:1
1  item:0  annotator:1  label:1
2  item:1  annotator:0  label:2
3  item:1  annotator:1  label:2
4  item:2  annotator:0  label:1

In [219]:
#Strip out the string to leave the numerical data
data[0] = data[0].apply(lambda x: int(x[5:]))
data[1] = data[1].apply(lambda x: int(x[10:]))
data[2] = data[2].apply(lambda x: int(x[6:]))
data.head()

   0  1  2
0  0  0  1
1  0  1  1
2  1  0  2
3  1  1  2
4  2  0  1

In [220]:
#Confirm How many unique items, annotators and labels we have

print('Number of items: ',len(data[0].unique())) #Number of items
print('Number of Annotators: ', len(data[1].unique()),' specifically: ',data[1].unique()) #Number of Annotators
print('Number of Labels',len(data[2].unique()),' specifically: ',data[2].unique()) #Number of Labels

Number of items:  100
Number of Annotators:  2  specifically:  [0 1]
Number of Labels 3  specifically:  [1 2 0]

In [221]:
#Filter based on annotator 0. Recall that data[0]=item ,data[1]=annotator,  data[2]=label
#The section 'np.where(((data[1] ==1) & (data[2] == 0)))[0]' returns the indexes that satisfy that criteria.
#We include data[0] so that it returns the item number instead of the index. 

#all the items that annotator 0 gave a label of 0
annotator_0_label_0_items = data[0][np.where(((data[1] ==0) & (data[2] == 0)))[0]] 

#all the items that annotator 0 gave a label of 1
annotator_0_label_1_items = data[0][np.where(((data[1] ==0) & (data[2] == 1)))[0]] 

#all the items that annotator 0 gave a label of 2
annotator_0_label_2_items = data[0][np.where(((data[1] ==0) & (data[2] == 2)))[0]]

#print out totals
print('Annotator 0 marked the following items labelled 0 by  label:0 , label:1 and label:2 respectively\n',
      len(annotator_0_label_0_items),len(annotator_0_label_1_items),len(annotator_0_label_2_items),' adding up to',
     sum([len(annotator_0_label_0_items),len(annotator_0_label_1_items),len(annotator_0_label_2_items)]))

Annotator 0 marked the following items labelled 0 by  label:0 , label:1 and label:2 respectively
 29 44 27  adding up to 100

In [222]:
#Similarily for annotator 1

#all the items that annotator 1 gave a label of 0. 
annotator_1_label_0_items = data[0][np.where(((data[1] ==1) & (data[2] == 0)))[0]] 

#all the items that annotator 1 gave a label of 1
annotator_1_label_1_items = data[0][np.where(((data[1] ==1) & (data[2] == 1)))[0]] 

#all the items that annotator 1 gave a label of 2
annotator_1_label_2_items = data[0][np.where(((data[1] ==1) & (data[2] == 2)))[0]]

#print out sample items in annotator_0_label_0_items
print('Annotator 1 marked the following items with label:0 , label:1 and label:2 respectively\n',
      len(annotator_1_label_0_items),len(annotator_1_label_1_items),len(annotator_1_label_2_items),'adding up to',
      sum([len(annotator_1_label_0_items),len(annotator_1_label_1_items),len(annotator_1_label_2_items)]))

Annotator 1 marked the following items with label:0 , label:1 and label:2 respectively
 29 40 31 adding up to 100

In [223]:
#Confusion Matrix Values

#Where they both agreed
A0L0_A1L0 = len(set(annotator_0_label_0_items)&set(annotator_1_label_0_items))
A0L1_A1L1 = len(set(annotator_0_label_1_items)&set(annotator_1_label_1_items))
A0L2_A1L2 = len(set(annotator_0_label_2_items)&set(annotator_1_label_2_items))

#Where the 1st annotator gave 0 but the 2nd annotator gave something different
A0L0_A1L1 = len(set(annotator_0_label_0_items)&set(annotator_1_label_1_items))
A0L0_A1L2 = len(set(annotator_0_label_0_items)&set(annotator_1_label_2_items))

#Where the 1st annotator gave 1 but the 2nd annotator gave something different
A0L1_A1L0 = len(set(annotator_0_label_1_items)&set(annotator_1_label_0_items))
A0L1_A1L2 = len(set(annotator_0_label_1_items)&set(annotator_1_label_2_items))

#Where the 1st annotator gave 2 but the 2nd annotator gave something different
A0L2_A1L0 = len(set(annotator_0_label_2_items)&set(annotator_1_label_0_items))
A0L2_A1L1 = len(set(annotator_0_label_2_items)&set(annotator_1_label_1_items))

#Create a data frame to visualize

confusion_matrix = pd.DataFrame({
        'A0_L0' : pd.Series([A0L0_A1L0, A0L0_A1L1, A0L0_A1L2], index=['A1_L0', 'A1_L1', 'A1_L2']),
        'A0_L1' : pd.Series([A0L1_A1L0, A0L1_A1L1, A0L1_A1L2], index=['A1_L0', 'A1_L1', 'A1_L2']),
        'A0_L2' : pd.Series([A0L2_A1L0, A0L2_A1L1, A0L2_A1L2], index=['A1_L0', 'A1_L1', 'A1_L2'])

    })

confusion_matrix

       A0_L0  A0_L1  A0_L2
A1_L0     10     11      8
A1_L1     11     24      5
A1_L2      8      9     14

In [224]:
#calculate sum of all elements in the matrix
total = sum(sum(confusion_matrix.values))

#Calculate Observed agreement Po
diagonal_arr = pd.Series(np.diag(confusion_matrix), index=[confusion_matrix.index, confusion_matrix.columns])
Po = sum(diagonal_arr) /total

Po

0.47999999999999998

In [225]:
'''
To calculate Pe, I add 2 extra rows and columns to reflect totals and probabilies

'''
#Calculate totals  by row 
confusion_matrix['totals_by_rows'] =confusion_matrix.sum(axis=1)

#Calculate totals  by column and add extra row
col_sum = pd.Series(confusion_matrix.sum(numeric_only=True,axis=0),name = 'totals_by_column')
confusion_matrix = confusion_matrix.append(col_sum)

#Add extra column reflecting the probabilities of annotator 1
confusion_matrix['prob_by_row'] = confusion_matrix['totals_by_rows']/ total

#add extra row reflecting  probabilites  of annotator 0 
probs = confusion_matrix.loc['totals_by_column',][:-1]/100 #Ignore the last element
col_prob = pd.Series(probs,name = 'prob_by_column')
confusion_matrix = confusion_matrix.append(col_prob)

confusion_matrix

                  A0_L0  A0_L1  A0_L2  totals_by_rows  prob_by_row
A1_L0             10.00  11.00   8.00            29.0         0.29
A1_L1             11.00  24.00   5.00            40.0         0.40
A1_L2              8.00   9.00  14.00            31.0         0.31
totals_by_column  29.00  44.00  27.00           100.0         1.00
prob_by_column     0.29   0.44   0.27             1.0          NaN

In [226]:
#Calculate Expected Probability Pe by multiplying probabilities row and column

#Zip the two arrays: zip(array1,array2)] whilst ignoring the last 2 elements
zipped = zip(confusion_matrix['prob_by_row'].values[:-2],confusion_matrix.loc['prob_by_column',].values[:-2])

#Multiple elements in 2 arrays and calculate sum
Pe = sum([a*b for a,b in zipped])
Pe

0.34379999999999999

In [227]:
#Calculate k
k = (Po-Pe)/(1-Pe)
k

0.2075586711368485