## Kenya County Settlement Data

This code transforms and aggregates the data available on http://www.opendata.go.ke/datasets/2009-census-vol-1-table-3-rural-and-urban-population according to county, urban/rural.

In [107]:
import pandas as pd
datafile = 'data/Rural_Urban.csv'
data = pd.read_csv(datafile, index_col = 0,sep='\t') 
data.head()

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province
OBJECTID,,,,,,,,
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI

In [103]:
group = data.groupby(['County','Urban/Rural'])

In [104]:
w = [[k[0],k[1],sum(v['Total'])] for k,v in group]
w[:2]

[['Baringo', 'Rural', 494010], ['Baringo', 'Urban', 61551]]

In [99]:
df = pd.DataFrame(w, columns=['County','Settlement','Population'])

In [101]:
df.append(w)
df.head()

//anaconda/lib/python3.5/site-packages/pandas/indexes/api.py:71: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)

    County Settlement  Population
0  Baringo      Rural      494010
1  Baringo      Urban       61551
2    Bomet      Rural      759580
3    Bomet      Urban      132255
4  Bungoma      Rural     1076367

In [106]:
#Export to CSV

df.to_csv('data/county_settlement.csv', sep=',')